.bar-container {

  background-color: #3b3b3b;
  padding: 20px;
//  margin: 0 10px;
  margin: 0;

//  @media(min-width: 660px) {
////    margin: 0 10px;
////    padding: 15px;
//  }
//
//  @media(min-width: 980px) {
////    margin: 0;
////    padding: 20px;
//  }

  h1 {
    font-weight: 100;
    color: $accent-color;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 10px;
    @include css3-prefix(transition-property, color);
    @include css3-prefix(transition-duration, 1s);

    &.good {
      color: #5fb85c;
    }

    &.medium {
      color: #eaad38;
    }

    &.bad {
      color: #f77f80;
    }

    @media(min-width: 660px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }

    @media(min-width: 980px) {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 20px;
    }

  }

  .label-container {
    font-size: 0;
    margin-bottom: 5px;

    .left,
    .right {
      font-size: 11px;
      color: #FFF;
      width: 50%;
      display: inline-block;

      @media(min-width: 660px) {
        font-size: 12px
      }

      @media(min-width: 980px) {
        font-size: 13px
      }

    }

    .right {
      text-align: right;
    }
  }

  .bar {
    overflow: hidden;
    height: 25px;
    background-image: url('#{$imgs-path}level-bg.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top left;
    position: relative;
    z-index: 1;

//    @media(min-width: 660px) {
//      height: 25px;
//    }

    @media(min-width: 980px) {
      height: 35px;
    }

    .level-mask {
      position: absolute;
      right: 0;
      top: 0;
      width: 99%;
      background-color: #555;
      z-index: 10;
      height: 100%;

      @include css3-prefix(transition-property, width);
      @include css3-prefix(transition-duration, 1s);

//      .summary & {
//        border-left: 4px solid #FFF;
//      }

    }

  }

}