.steps-container {
  position: relative;
  text-align: center;
  padding: 0;
  width: 100%;

  $step-size: 48px;

  height: $step-size;
  //  white-space: nowrap;

  @media(min-width: 660px) {
    padding: 10px 0;

    height: $step-size + 20px;
  }
  @media(min-width: 980px) {
    padding: 20px 0;

    height: $step-size + 40px;
  }

  // Scale
  @include css3-prefix(transform-origin, center center);
  @include transform(scale(0.5, 0.5));
  @media(min-width: 660px) {
    @include transform(scale(0.75, 0.75));
  }
  @media(min-width: 980px) {
    @include transform(scale(1, 1));
  }

  .steps-container-inner {
    white-space: nowrap;
    width: 2000px;
  }

  .step {
    @include border-radius(50%);
    border: 2px solid $medium-grey;
    width: $step-size;
    height: $step-size;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 62%;
    margin-left: 14px;
    cursor: default;
    z-index: 2;

    @include css3-prefix(transition-property, border-color);
    @include css3-prefix(transition-duration, 0.4s);

    svg {
      width: $step-size - 12px;
      height: $step-size - 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));

      .color-fill {
        @include css3-prefix(transition-duration, 0.4s);
//        fill: #666;
        fill: $medium-grey;
      }

      .color-stroke {
        @include css3-prefix(transition-duration, 0.4s);
//        stroke: #666;
        stroke: $medium-grey;
      }
    }

    &.current {
      border-color: $accent-color;
      cursor: default !important;

      svg .color-fill {
        fill: #FFF;
      }

      svg .color-stroke {
        stroke: #FFF;
      }
    }

    &.summary {
//      background-color: transparent !important;
      cursor: default !important;

      &:last-of-type {
        background-color: $accent-color !important;
        border-color: $accent-color;
      }
    }

    &.done {
//      background-color: rgba(255, 255, 255, 0.05);
      cursor: pointer;

      svg .color-fill {
        fill: $accent-color !important;
      }

      svg .color-stroke {
        stroke: $accent-color !important;
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }

    &:after {
      display: block;
      content: '';
      width: 19px;
      height: 1px;
      background-color: $medium-grey;
      position: relative;
      z-index: 1;
      top: $step-size / 2 - 1px;
      left: $step-size - 2px;
    }
  }

}