.summary-message {
//  position: relative;
  text-align: center;
  color: #FFF; // $accent-color-dark;
  font-style: italic;
  background-color: $accent-color;
  font-size: 14px;
  line-height: 25px;
  padding: 0;
  opacity: 0;
  height: 25px;
  overflow: hidden;

  margin: 10px 20px;

  @media(min-width: 980px) {
    margin: 20px 200px;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
  }

  @include css3-prefix(transform-origin, 50% 150%);
  @include transform(translateY(-100%) scale(1, 0));
  @include css3-prefix(transition-duration, 1s);

  > span {
    @include css3-prefix(transition-delay, 1.5s);
    @include css3-prefix(transition-duration, 1s);
    opacity: 0;
  }

  &.transparent {
    opacity: 0 !important;
  }

  .summary & {
    @include transform(translateY(0) scale(1, 1));
    @include css3-prefix(transition-duration, 0s);
    opacity: 1;

    > span {
      @include css3-prefix(transition-delay, 0s);
      opacity: 1;
    }
  }
}