.summary-message {
  text-align: center;
  color: $accent-color;
  padding: 8px 0;
  opacity: 0;
  overflow: hidden;
  margin: 10px 20px;

  @media(min-width: 980px) {
    margin: 0 200px;
  }

  @include css3-prefix(transform-origin, 50% 150%);
  @include transform(translateY(-100%) scale(1, 0));
  @include css3-prefix(transition-duration, 1s);

  > span {
    @include css3-prefix(transition-delay, 1.5s);
    @include css3-prefix(transition-duration, 1s);
    opacity: 0;
    display: block;
    text-align: center;

    &#summary-title {

      font-size: 20px;
      line-height: 25px;

      @media(min-width: 980px) {
        font-size: 22px;
      }

    }

    &#summary-message {
      margin-top: 10px;
      font-size: 13px;
      line-height: 25px;
      font-style: italic;

      @media(min-width: 980px) {
        margin-top: 5px;
        font-size: 16px;
      }

    }
  }

  &.transparent {
    opacity: 0 !important;
  }

  .summary & {
    @include transform(translateY(5px) scale(1, 1));
    @include css3-prefix(transition-duration, 0s);
    opacity: 1;

    @media(min-width: 980px) {
      @include transform(translateY(20px) scale(1, 1));
    }

    > span {
      @include css3-prefix(transition-delay, 0s);
      opacity: 1;
    }
  }
}