#header-section {
  position: relative;

  &:after {
    content: ' ';
    height: 1px;
    border-bottom: 2px solid $accent-color;
    display: block;
  }

  #sc-logo {
    position: relative;
    text-align: right;
    border: none;
    font-size: 0;

    #sharePage {
      text-align: left;
      width: 40%;

      .inner {
        padding: 20px;
        @media(min-width: 660px) {
          padding: 20px 0;
        }
      }

    }

    a,
    #sharePage {
      position: relative;
      display: inline-block;
      vertical-align: middle;

    }

    a {
      width: 60%;
      border: none;
      text-align: right;
//      padding: 20px 0;

      img {
        display: inline-block;
        width: 100%;
        border: none;
        padding: 20px;
        position: relative;

        @media(min-width: 660px) {
          width: 70%;
          padding: 20px 0;
        }

        @media(min-width: 980px) {
          width: 60%;
        }

        @media(min-width: 1300px) {
          width: 50%;
        }
      }

    }
  }

}

