.section {
  position: relative;
  margin: 0;
  @include css3-prefix(transition-duration, 0.4s);
  opacity: 1;

  @media(min-width: 660px) {
    margin: 0 10px;
  }

  @media(min-width: 980px) {
    margin: 0 20px;
  }

  &.full-width {
    margin: 0;
  }

  &#main-section {

    .summary & {
      padding-bottom: 0;

      @media(min-width: 980px) {
        padding-bottom: 20px;
      }
    }
  }

  &.top-sections-container {
    position: relative;
    background-color: #424242;
  }

  &.transparent {
    opacity: 0;
  }

}