<div class="guInteractive">
    <div id="content">

        <header id="header-section" class="section"></header>

        <!--<div id="intro-section" class="section full-width"></div>-->

        <div id="main-section" class="section top-sections-container">

            <div class="cover"></div>

            <div id="level-section" class="section transparent"></div>

            <div id="questions-section" class="section transparent"></div>

            <div id="summary-section" class="section transparent"></div>

        </div>

        <div class="section full-width">

            <div class="contentBlock" id="about-section">

                <h4 class="sectionHeading">About The Power of Privacy</h4>

                <div class="contentBlock-inner">
                    <p class="half-width no-margin-top">
                        Through documentary videos, in-depth analysis and expert comment, we explore the concept of privacy in a networked world.
                    </p>
                </div>
            </div>

            <div class="contentBlock" id="video-section">

                <h4 class="sectionHeading">
                    <span>Video</span>
                    <img src="{{path.assets}}imgs/video-gif.gif">
                </h4>

                <div class="contentBlock-inner">
                    <h2>Do we link to the videos?</h2>

                    <p class="half-width">
                        Click here to put your company to the test. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nullam elementum quis justo at blandit.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
