<div class="guInteractive">
    <div id="content">

        <header id="header-section" class="section"></header>

        <!--<div id="intro-section" class="section full-width"></div>-->

        <div id="main-section" class="section top-sections-container">

            <div class="cover"></div>

            <div id="level-section" class="section transparent"></div>

            <div id="questions-section" class="section transparent"></div>

            <div id="summary-section" class="section transparent"></div>

        </div>

        <div class="section full-width">

            <div class="contentBlock" id="about-section">

                <h4 class="sectionHeading">About The Power of Privacy</h4>

                <div class="contentBlock-inner">
                    <p class="half-width no-margin-top">
                        Through documentary videos, in-depth analysis and expert comment, we explore the concept of
                        privacy in a networked world.
                    </p>
                </div>
            </div>

            <div class="contentBlock" id="video-section">

                <h4 class="sectionHeading">
                    <a href="#"><span>Videos</span></a>
                    <a href="#"><img src="{{path.assets}}imgs/video-gif.gif"></a>
                </h4>

                <div class="contentBlock-inner">
                    <h2><a href="#">Watch Episode 1</a></h2>

                    <p class="half-width">
                    <!--<p class="half-width no-margin-top">-->
                        <a href="#">Follow one time TV presenter, technology geek and journalist Aleks Krotoski in her
                            bid to uncover the pitfalls and potential of digital privacy, for businesses and individuals
                            alike.</a>


                        <br><br>
                        <a href="#" class="btn">
                            <svg class="svg play-icon" viewBox="0 0 26 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path class="path" d="M0,22 L0,0 L26,11 L0,22 Z" fill="#FFF"></path>
                            </svg>
                            <span>Watch Episode 1</span>
                        </a>


                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
