<div class="inner">

    <div class="steps-container">

        <div class="steps-container-inner absolute-center">

        {{#questions}}

        <div id="{{question-id}}-step" data-index="{{question-index}}" class="step" >
            {{{svg}}}
        </div>

            <!--style="background-image: url('{{assets}}/imgs/{{icon}}')"-->

        {{/questions}}

        <div id="summary-step" class="step">
            {{{summary-svg}}}
        </div>

            <!--style="background-image: url('{{assets}}/imgs/close.svg')"-->

            </div>

    </div>

    <div class="bar-container">
        <h1 id="bar-title" class="title">
            {{{texts.title}}}
        </h1>

        <div class="label-container">
            <span class="left">{{texts.low}}</span>
            <span class="right">{{texts.high}}</span>
        </div>

        <div class="bar">
            <div id="level-mask" class="level-mask"></div>
        </div>
    </div>

</div>

<div class="summary-message">
    <span id="summary-title"></span>
    <span id="summary-message"></span>
</div>