

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translateX(-50%) translateY(-50%));
}

.absolute-Ycenter {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

.absolute-Xcenter {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}