// Paths
$imgs-path: "../imgs/";

// Colors
$accent-color: #ff827f;
$accent-color-dark: #9a6763;
$blue-color: #6eb9d0;
$content-bg-color: #333333;
$content-bg-secondary-color: #424242;

$medium-grey: #7e7e7e;
$light-grey: #bbb;

// YouTube thumbnails
$videoThumbWidth: 480px;
$videoThumbHeight: 360px;

// Youtube customized player
$yt-slider-height: 6px;
$yt-player-controls-height: 48px;